.gridGenerator {
  margin-left: 10%;
  margin-right: 10%;
}

label {
  display: block;
  margin-top: 10px;
}

button {
  margin-top: 15px;
}

.error {
  margin-top: 10px;
  border: 4px black solid;
  border-radius: 5px;
  color: rgb(255, 0, 0);
  padding: 10px;
}
