@media screen and (min-width: 600px) {
  .saveButton {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (min-width: 1000px) {
  .saveButton {
    margin-left: 30%;
    margin-right: 30%;
  }
}
